* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url("https://images.pexels.com/photos/944773/pexels-photo-944773.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position: 280px;
   
}

.h1, h3 {
    text-align: center;
    margin-top: 30px;
    color: purple;
}

.h1  {
    color: black;
}

h2 {
    text-align: center;
    color: purple;
    margin-top: -75px;
}

.jogo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
}

img {
    margin-left: 20px;
    border-radius: 25px;
    cursor: pointer;
}

input[type="radio"] {
    margin-left: 30px;
    margin-top: 10px;
    width: 30px;
}

#input {
    display: flex;
    justify-content: center;
}

.comandos {
    margin-top: 30px;
}


input[type="button"] {
    margin-left: 20px;
    height: 32px;
    width: 140px;
    border: none;
    background-color: #157bad;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.pc {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.pc img {
    margin-top: 35px;
}

#pcJogou {
    color: rgb(196, 82, 241);
}

footer {
    color: #157bad;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
}

#chamar-js img {
    height: 93px;
}

.pedraPapelTesoura   {
    display: flex;
    justify-content: flex-end;
}

#placar {
    text-align: center;
    color: #42611e;
}

.comandos input[type="button"]:hover {
    background-color: #155bad;
}


@media (min-width: 280px) and (max-width: 359px) {
    .pedraPapelTesoura {
        display: none;
    }

    .comandos {
        display: flex;
        margin-top: 52px;
        margin-left: 30px;
    }

    #chamar-js img {
        height: 60px;   
    }
    
    h2 {
        font-size: 20px;
        margin-top: 10px;
    }

    h1 {
        font-size: 25px;
    }

    .pc {
        height: 75px;
        
    }

    #placar {
        margin-top: 80px;
    }
}


@media (min-width: 360px) and (max-width: 768px) {
    .pedraPapelTesoura {
        display: none;
    }

    .comandos {
        display: flex;
        margin-top: 50px;
    }

    #pcJogou {
        margin-top: 40px;
    }

    #pc {
        height: 120px;
    }

    #chamar-js img {
        height: 70px;
    }

    h2 {
        margin-top: 20px;
    }

}
